<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="bootstrap" version="3.4.0" targetFramework="net452" />
  <package id="Bootstrap.Datepicker" version="1.8.0.1" targetFramework="net452" />
  <package id="DataRecordExtensions" version="1.1.1" targetFramework="net452" />
  <package id="DevExpress.Charts" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Data" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Images" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Scheduler.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.SpellChecker.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Spreadsheet.Core" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Utils" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Mvc5" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Office" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting.Common" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Scheduler" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Themes" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Web.Visualization" version="18.2.5" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="18.2.5" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="html5-shiv" version="3.7.3" targetFramework="net452" />
  <package id="jQuery" version="3.3.1" targetFramework="net452" />
  <package id="jQuery.ba-throttle-debounce" version="1.1.0" targetFramework="net452" />
  <package id="jQuery.Migrate" version="3.0.0" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="1.0.20-build00666" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.TraceListener" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.9.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.6" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.1000.523" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="NetBox" version="2.1.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="ReportViewerForMvc14" version="140.1000.523" targetFramework="net452" />
  <package id="Respond" version="1.4.2" targetFramework="net452" />
  <package id="Storage.Net" version="6.5.7" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net452" />
  <package id="Twitter.Bootstrap.MVC" version="2.1.6" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net452" />
  <package id="WebGrease" version="1.6.0" targetFramework="net452" />
</packages>