.scroll-y {
  overflow-x: hidden;
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

.layout-view {
  max-width: 100% !important;
  width: 100% !important;
}

/* ************************************* */
/* fix issue with Sleect2, MetroUI & IE9 */
.select2-hidden-accessible {
    display: none;
}

.select2-container--default .select2-selection--single {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
    height: 38px;
}

.select2-container--default .select2-selection--multiple {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
    min-height: 38px;
}

div.input-control .select2-container--default .select2-selection--single {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
    height: 2.12rem;
}

div.input-control .select2-container--default .select2-selection--multiple {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
    height: 2.12rem;
}

/* ************************************* */
/*         Add border to Ckeditor        */
div.textarea .cke {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
}

div.form-group .cke {
    /*border: 1px #d9d9d9 solid;*/
    border: 1px #808080 solid;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}


/* ************************************* */
/*           Border Colors               */
.form-control {
    border: 1px solid #808080;
}

.panel-default {
    border-color: #808080;
}


    .panel-default > .panel-heading {
        border-color: #808080;
    }

.input-group-addon {
    border: 1px solid #808080;
}

/* ************************************* */
/*                Theme                  */
div.cell label, div.form-group label, div.checkbox label, div.checkboxlistitem label {
    color: #007cc2;
    font-size: 1.1em;
    font-weight: normal;
}

.checkbox.input-control .caption, .radio.input-control .caption {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

div.checkboxlistitem .caption {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

div.custom-tabs {
    margin-top: 30px;
}

/* ************************************* */
/* Bootstrap                             */
/* enable icons in inputboxes            */
/* enable absolute positioning           */
.bs-ext-inner-addon {
    position: relative;
}

/* Styling for Select2 with error */
div.has-error .select2-selection--single {
    border-color: rgb(185, 74, 72) !important;
}

/* style icon */
.bs-ext-inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.bs-ext-left-addon .glyphicon {
    left: 0px;
}

.bs-ext-right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.bs-ext-left-addon input {
    padding-left: 30px;
}

.bs-ext-right-addon input {
    padding-right: 30px;
}

/* ************************************* */
/*        Theming Bootstrap UI Lib       */
.nav > li > a.app-level1 {
    font-size: 1.2em;
    font-weight: normal;
}

.nav > li > a.app-level2 {
    font-size: 1.1em;
    font-weight: normal;
}

.nav > li > a.app-level3 {
    font-size: 0.8em;
    font-weight: bolder;
}

.navbar-top-links li span {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li span {
    padding: 3px 20px;
    min-height: 0;
}

/* ************************************* */
/*       Theming jQuery upload file      */
.multipleupload .form-control {
    vertical-align: top;
    height: inherit;
}

.ajax-upload-dragdrop-str {
    color: #ccc;
    display: inline-block;
    margin: 0;
    padding: 7px;
    vertical-align: bottom;
}


/* ************************************* */
/*                Hourglass              */
/*.custom-hourgalss-25 {
    background: url(/Content/images/HourglassAnim.gif) no-repeat;
    background-size: 25px 25px;
    background-position: -5px -3px;
    display: inline-block;
    width: 15px;
}

.custom-hourgalss {
    background: url(/Content/images/HourglassAnim.gif) no-repeat;
}*/


/* ************************************* */
/*               PeoplePicker            */
.custom-peoplepicker {
    width: 100%;
    /*height: 34px;*/
}

div.form-group .office-peoplepicker-main {
    border: 1px #d9d9d9 solid;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    width: 100%;
    height: 70px;
}



/* ************************************* */
/*             Task indicators           */
.custom-task-unassigned {
}

.custom-task-assigned {
}

.custom-task-working {
    background-color: lightcyan !important;
}

.custom-task-onhold {
    background-color: lightpink !important;
}

.custom-task-completed {
}

/* ************************************* */
/*             Workflow Diagram          */
.custom-wf-arrow {
    /*font-family: Wingdings;*/
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-wf-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-wf-table-internal {
    border: solid 1px black;
    width: 100%;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.custom-wf-row {
}

.custom-wf-cell {
    text-align: center;
    vertical-align: middle;
    width: 40%;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

.custom-wf-cell-side {
    text-align: center;
    vertical-align: middle;
    width: 30%;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}

.custom-wf-cell-internal1 {
    text-align: left;
    vertical-align: top;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-wf-cell-internal2 {
    text-align: left;
    vertical-align: top;
    width: 50%;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.custom-wf-level1 {
    background-color: #F2FFDC;
}

.custom-wf-level2 {
    background-color: #F2DDDC;
}

.custom-wf-task-pending {
    background-color: #FDE9D9;
}

.custom-wf-task-completed {
    background-color: #EAF1DD;
}


#mynetwork {
    width: 800px;
    height: 500px;
    border: 1px solid lightgray;
}

/* ************************************* */
/*           General formatting          */
/* body {
    background: url('/Content/images/Html-Background-1366x768.png') no-repeat right top;
    background-size: cover;
} */

/* .layout-view {
    background-color: transparent !important;
} */

.custom-condensed {
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
}

.custom-margin {
    margin: 5px;
}

.custom-margin-bottom {
    margin-bottom: 10px;
    margin-right: 10px;
}

/* ************************************* */
/*             Nav-bar                   */
.custom-navbar-brand {
    padding-left: 15px !important;
    padding-top: 5px !important;
}

.custom-navbar-brandtext {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    padding-left: 220px;
    padding-top: 10px;
    font-size: 28px;
    float: right;
    /*margin-top: 10px;
    margin-left: 20px;*/
    min-height: 42px;
}


@media (max-width: 590px) {
    .custom-navbar-brandtext {
        background-image: url(images/logo-ball.png);
        padding-left: 50px;
        font-size: 22px;
    }
}

.custom-navbar-brandtext-dummy {
    /*background-image: url(images/logo.png) ;*/
    background-image: url(images/logo-dummyball.png);
    background-repeat: no-repeat;
    /*padding-left: 220px;*/
    padding-left: 50px;
    padding-top: 10px;
    font-size: 28px;
    float: right;
    /*margin-top: 10px;
    margin-left: 20px;*/
    min-height: 42px;
}


@media (max-width: 590px) {
    .custom-navbar-brandtext-dummy {
        /*background-image: url(images/logo-ball.png) ;*/
        background-image: url(images/logo-dummyball.png);
        padding-left: 50px;
        font-size: 22px;
    }
}

/* ************************************* */
/*             DataTables                */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    /*white-space: nowrap;*/
}



/* ************************************* */
/*             Fancytree                 */
ul.fancytree-container {
    width: 100%;
    height: 150px;
    overflow: auto;
    position: relative;
    border: 1px #d9d9d9 solid;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

/* ************************************* */
/*             Switcher                  */
.bootstrap-switch {
    border: 1px solid #808080;
}

.page-header {
    padding-left:15px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .cke_top {
        height:0px!important;
    }
}
